[reddit]
username=reddit_user
password=reddit_password
logile=redditthread.log
subreddit=hoggit
 
[irc]
host=irc.irc.net
port=6667
nick=ircbot
channels=#test
log=irc.log
 
[hoggy]
logfile=hoggy.log
seenfile=seen_threads.dat